<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Calculadora Científica</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h2>Calculadora Científica</h2>
    <iframe src="http://localhost:3001" width="400" height="500"></iframe>
    <a href="/about"><button>Volver</button></a>
</body>
</html>
