<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - EasyCalculator</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="login-body">

    <div class="login-container">
        <div class="logo">
            <img src="/images/logo.png" alt="EasyCalculator Logo">
        </div>
        <h2>Registro</h2>
        <form action="/register" method="POST">
            <div class="input-group">
                <label for="username">Correo:</label>
                <input type="text" id="username" name="username" required>
            </div>

            <div class="input-group">
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required>
            </div>

            <button type="submit" class="login-btn">Registrarse</button>
        </form>
        <p>¿Ya tienes una cuenta? <a href="/login">Inicia sesión aquí</a></p>
    </div>

</body>
</html>
